
<md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px" >
    <md-grid-tile class="gray" md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
        <img src="images/spring_flower.jpg" height="559" width="369"/>
        <md-grid-tile-footer>
            <h3>Tulip Flowers,Rolla</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="green">
        <img src="images/2.jpg" height="180" width="180"/>
        <md-grid-tile-footer>
            <h3>#2: (1r x 1c)</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="yellow">
        <img src="images/3.jpg" height="180" width="180"/>
        <md-grid-tile-footer>
            <h3>#3: (1r x 1c)</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="blue" md-rowspan="2">
        <img src="images/soccer.jpg" height="370" width="180"/>
        <md-grid-tile-footer>
            <h3>#4: (2r x 1c)</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="yellow">
        <img src="images/8.jpg" height="180" width="180"/>
        <md-grid-tile-footer>
            <h3>#8: (1r x 1c)</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="red" md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
        <img src="images/chicago.jpg" height="370" width="370"/>
        <md-grid-tile-footer>
            <h3>#5: (2r x 2c)</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="green" md-rowspan="2" >
        <img src="images/basketball.jpg" height="370" width="180"/>
        <md-grid-tile-footer>
            <h3>#6: (2r x 1c)</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="yellow">
        <img src="images/7.jpg" height="180" width="180"/>
        <md-grid-tile-footer>
            <h3>#7: (1r x 1c)</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

</md-grid-list>