<div ng-controller="contactController">
    <div class="row">
        <div class="col-sm-7">
            <img src="images/nest.jpg" class="img-rounded" height="414" width="650"/>
        </div>
        <div class="col-sm-4">
            <h3 class="page-header well">Drop a Message!</h3>
            <form>
            <div layout="column" >
                <md-content class="md-no-momentum">
                    <md-input-container class="md-icon-float md-block">
                        <!-- Use floating label instead of placeholder -->
                        <label>Name</label>
                        <md-icon><span class="glyphicon glyphicon-user"></span></md-icon>
                        <input ng-model="user.name" type="text">
                    </md-input-container>
                    <md-input-container md-no-float class="md-block">
                        <md-icon><span class="glyphicon glyphicon-earphone"></span></md-icon>
                        <input ng-model="user.phone" type="text" placeholder="Phone Number">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <!-- Use floating placeholder instead of label -->
                        <md-icon><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></md-icon>
                <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
                </md-input-container>

                <md-input-container md-no-float class="md-block">
                    <md-icon><span class="glyphicon glyphicon-map-marker"style="display:inline-block;"></span></md-icon>
                    <input ng-model="user.address" type="text" placeholder="Address" >
                </md-input-container>

                <md-input-container class="md-icon-float md-icon-right md-block">
                    <label>Your Message</label>
                    <md-icon><span class="glyphicon glyphicon-pencil"></span></md-icon>
                    <input ng-model="user.message" type="text">
                </md-input-container>
                </md-content>
        </div>
        <md-button class="md-raised md-primary">Submit</md-button>

            </form>
        </div>
    </div>

</div>

<!--<form>
                <div class="form-group row">
                    <div class="col-sm-12 " >
                        <input type="text" class="form-control form_text" id="firstname" placeholder="FIRSTNAME" >
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12 " >
                        <input type="text" class="form-control form_text" id="lastname" placeholder="LASTNAME" >
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12 " >
                        <input type="email" class="form-control form_text" id="email" placeholder="EMAIL" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 " >
                        <input type="text" class="form-control form_text" id="phone" placeholder="PHONE" >
                    </div>
                </div>

                <div class="form-group">
                    <textarea class="form-control" rows="5" id="comment" placeholder="YOUR MESSAGE"></textarea>
                </div>
                <div class="form-group row" >
                    <div class="col-sm-8 centered">
                        <button type="submit" class="btn btn-primary" id="form_button">Submit</button>
                    </div>
                </div>



            </form>
            -->