
<div ng-controller="meController">

    <div class="row">
        <div class="col-sm-8 col-md-8 bio">
            <h3 class="page-header">ABOUT ME</h3>
            <p class="para">I am a web developer and designer with expertise in interactive design backed by strong creativity and work experience. Currently,I am seeking a full-time web developer position where I can create delightful user experiences by bringing my unique blend of creativity, analytical and leadership skills from my education, user interaction and IT industry experience..</p>
            <h3 class="page-header">Web Development</h3>
            <p class="para">My interest in design and innovation started back in my school days where I started expressing myself through sketches.This led me to make visual arts using photoshop.During my bachelor of engineering, I learnt programming skills.Soon after I finished my undergrad, I landed up at leading online companies of the world like eBay and VISA.This professional experience gave me a great platform to explore the internet technologies.During my tenure at work, I learnt web development using Javascript and JQuery along with HTML and CSS frameworks.</p>
            <p class="para">Currently, I am developing user-interactive and responsive websites using Twitter-Bootstrap3, Google-AngularJS and Facebook's ReactJS along with NodeJS and Express to achieve Isomorphic model in development.</p>
            <h3 class="page-header">Skills</h3>
            <ul class="about_lists">
                <li>Angular JS, React JS, Node JS</li>
                <li>Java,JavaScript, JQuery,AJAX</li>
                <li>HTML5,CSS3,Bootstrap3</li>
                <li>MongoDB,Oracle,MySQL</li>
            </ul>
            <h3 class="page-header">Photography</h3>
            <p class="para"> My creative brain helped me to transform myself as a photographer.I have covered many cultural events held at corporate levels and university levels.I love taking Portraits, Sports and Nature photos.My favourite images are candid moments of true emotion.So, the Pictures looks so REAL and GENUINE.</p>

            <h3 class="page-header">WHAT DO I OFFER?</h3>
            <ul>
                <li>Candid, Wedding & LifeStyle Photography</li>
                <li>Modelling and Portraits Photography</li>
                <li>Sports Photography</li>
                <li>Stock Photography</li>
            </ul>
            <p class="para">So, Lets get to know each other.I will help you to realize your vision into beautiful images.</p>
        </div>

        <div class="col-sm-4 col-md-4 my_picture">
            <img src="images/mine.jpg" class="img-rounded"  width="100%"/>
            <h4 align="center" class="text-muted">Web Developer & Photographer</h4>

        </div>

    </div>

</div>
